.apron-strings-body {
  
  .hero-image {
  //  background-image: url('http://placehold.it/2000x2000');
  //  background-size: cover;
  //  height: 700px;
    
  }

  .hero {
    background: url(/custom/themes/apron-strings/dist/images/hero.jpg) center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    img {
      width: 100%;
    }
  }

  .mainheader {
    background: rgba(255,255,255,0.7);
    display: flex;
    nav {
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      padding-top: 35px;
      text-transform: uppercase;
      margin-right: 0px;
      font-size: modular-scale(0, 0.8rem);
      line-height: modular-scale(1, 0.8rem);
    }
    header {
      flex: 1 0 auto;
    }
  }

  .logo {
    a {
      text-decoration: none;
      color: $black;
    }
  }

  .mainmenu {
    list-style-type: none;
    // float: right;  
    display: flex;
    a {
      text-decoration: none;
      color: $black;
      padding: 5px 25px;
      letter-spacing: 2px;
    }
  }

  // Youtube Video 

  .home-hero {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  h1.header-text {
    // margin-top: 20vh;
    color: $white;
    // padding: 20% 20% 0 5%;
    padding: 10% 10% 5% 4%;
    font-weight: bold;
    // text-align: center;
  }

  .fullscreen-bg {
    position: absolute;
    // background-color: $lightgrey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    @include media($bp-small) {
      display: none;
    }
    iframe {
      position: relative;
      top: 0;
      left: -10%;
      width: 122%;
      height: 122%;
      filter: grayscale(100%) brightness(0.8) opacity(1);
      z-index: 30;
    }
    img {
      position: absolute;
      top: 20px;
      left: 40px;
      max-height: 90px;
      width: auto;
      z-index: 50;
    }
  }

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 115%;
  }


}